* {
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  min-width: 1240px;
  margin: auto;
  padding: auto;
}

header {
  background-color: white;
  min-height: 80px;
  width: 1240px;
  margin: auto;
}

main {
  background-color: white;
  min-height: 450px;
  width: 1240px;
  margin: auto;
}

footer {
  background-color: white;
  min-height: 450px;
  width: 1240px;
  margin: auto;
}

/*======================================================*/
/* header */
#mheader {
  position: relative;
  height: 100px;
  margin: 0;
  padding-top: 30px;
}

.navBar {
  width: 1240px;
  height: 80px;
  margin: auto;
  padding-bottom: 20px;
}

.logo {
  float: left;
}

.navBar ul {
  float: right;
  margin-top: 0;
}

.navBar li {
  float: left;
  margin-left: 10px;
}

.navBar a {
  color: #333;
  font-size: 15px;
  font-weight: bold;
}

.navBar a span {
  color: gainsboro;
}

.search {
  width: 300px;
  top: 75px;
  right: -15px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  width: 80%;
  height: 30px;
  font-size: 15px;
  color: #333;
  border: none;
  border-bottom: 1px solid #333;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #c6c6c6 inset;
}

/*======================================================*/
/* category_navi_drop_bar */
#category_nav {
  font:bold 16px;
  width: 1240px;
  height: 40px;
  background: #000;
  line-height: 40px;
  margin: 0 auto;
  z-index: 1;
}

#category_nav > ul {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

#category_nav > ul > li {
  width: 130px;
  position: relative;
  display: inline-block;
}

#category_nav > ul > li > ul {
  width: 130px;
  display: none;
  position: absolute;
  font-size: 15px;
  background: #000;
  margin: 0 auto;
  padding: 0;
}

#category_nav a {
  text-decoration: none;
  color:#fff;
  font-weight: bold;
}

#category_nav > ul > li:hover > ul {
  display: block;
}

#category_nav > ul > li > ul > li:hover {
  background: #8f8f8f;
  transition: ease 1s;
}

.sticky {
  position: sticky;
  top: 0;
}

/* ====================================================== */
/* bodyFloating */
.right_quick1 {
  position: fixed;
  right: 20px;
  top: 50%;
  margin-top: -55px;
  z-index: 5;
}

.right_quick1 .btn_top {
  margin: 3px 0px;
}

[class^='btn'] img {
  margin: -2px 1px 0;
  vertical-align: middle;
}

.right_quick1 img {
  border: 1px solid #e5e5e5;
}

.right_quick1 img:hover {
  border: 1px solid #333;
}

.right_quick2 img {
  width: 50px;
}

.btn_recent1 {
  position: fixed; 
  right: 20px; 
  bottom: 100px;
  
}

.btn_recent2 {
  position: fixed; 
  right: 20px; 
  bottom: 40px;
}

/* ====================================================== */
/* myPage_main */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 80px;
  overflow: hidden;
}

/* ================== 쇼룸 슬라이드 > 스타일 및 동작 ================== */
.section input[id*="slide"] {
  display:none;
}

.section .slidewrap {
  max-width:1240px;
  margin:0 auto;
}

.section .slidelist {
  white-space:nowrap;
  font-size:0;
  overflow:hidden;
  position:relative;
}

.section .slidelist > li {
  display:inline-block;
  vertical-align:middle;
  width:100%;
  transition:all .5s;
}

.section .slidelist > li > a {
  display:block;
  position:relative;
}

.section .slidelist > li > a img {
  width:100%;
}

.section .slidelist label {
  position:absolute;
  z-index:10;
  top:50%;
  transform:translateY(-50%);
  padding:50px;
  cursor:pointer;
}

.section .slidelist .textbox {
  position:absolute;
  z-index:1;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  line-height:1.7;
  text-align:center;
  padding-top: 25px;
  width: 1240px;
  height: 130px;
  background-color: rgba(0, 0, 0, 0.5);
}

.section .slidelist .textbox h3 {
  font-size:36px;
  color:#fff;
  transform:translateY(30px);
  transition:all .5s;
  z-index: 5;
}

.section .slidelist .textbox p {
  font-size:16px;
  color:#fff;
  transform:translateY(30px);
  transition:all .5s;
  z-index: 5;
}

/* input에 체크되면 슬라이드 효과 */
.section input[id="slide01"]:checked ~ .slidewrap .slidelist > li {
  transform:translateX(0%);
}

.section input[id="slide02"]:checked ~ .slidewrap .slidelist > li {
  transform:translateX(-100%);
}

.section input[id="slide03"]:checked ~ .slidewrap .slidelist > li {
  transform:translateX(-200%);
}

/* input에 체크되면 텍스트 효과 */
.section input[id="slide01"]:checked ~ .slidewrap li:nth-child(1) .textbox h3 {
  opacity:1;
  transform:translateY(0);
  transition-delay:.2s;
}

.section input[id="slide01"]:checked ~ .slidewrap li:nth-child(1) .textbox p {
  opacity:1;
  transform:translateY(0);
  transition-delay:.4s;
}

.section input[id="slide02"]:checked ~ .slidewrap li:nth-child(2) .textbox h3 {
  opacity:1;
  transform:translateY(0);
  transition-delay:.2s;
}

.section input[id="slide02"]:checked ~ .slidewrap li:nth-child(2) .textbox p {
  opacity:1;
  transform:translateY(0);
  transition-delay:.4s;
}

.section input[id="slide03"]:checked ~ .slidewrap li:nth-child(3) .textbox h3 {
  opacity:1;
  transform:translateY(0);
  transition-delay:.2s;
}

.section input[id="slide03"]:checked ~ .slidewrap li:nth-child(3) .textbox p {
  opacity:1;
  transform:translateY(0);
  transition-delay:.4s;
}

/* 좌,우 슬라이드 버튼 */
.slide-control > div {
  display:none;
}

.section .left {
  left:30px;
  background:url('../images/left.png') center center / 100% no-repeat;
}

.section .right {
  right:30px;
  background:url('../images/right.png') center center / 100% no-repeat;
}

.section input[id="slide01"]:checked ~ .slidewrap .slide-control > div:nth-child(1) {
  display:block;
}

.section input[id="slide02"]:checked ~ .slidewrap .slide-control > div:nth-child(2) {
  display:block;
}

.section input[id="slide03"]:checked ~ .slidewrap .slide-control > div:nth-child(3) {
  display:block;
}

/* 페이징 */
.slide-pagelist {
  text-align:center;
  padding:20px;
}

.slide-pagelist > li {
  display:inline-block;
  vertical-align:middle;
}

.slide-pagelist > li > label {
  display:block;
  padding:8px 8px;
  border-radius:30px;
  background:#ccc;
  margin:0px 10px;
  cursor:pointer;
}

.section input[id="slide01"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(1) > label {
  background: #8f8f8f;
}

.section input[id="slide02"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(2) > label {
  background:#999;
}

.section input[id="slide03"]:checked ~ .slidewrap .slide-pagelist > li:nth-child(3) > label {
  background:#999;
}

/* ================== 바디 구분 3 > 스타일 및 동작 ================== */
.mainSe {
  width: 1240px;
  text-align: center;
  margin: 0 auto;
}

.nd_show {
  margin: 0 auto;
}

.roomImg {
  width: 380px;
  margin: 0 auto;
}

/* ================== 바디 컬럼 3 시작 ================== */
.main_col {
  width: 1240px;
  column-count: 3; 
  margin: auto;
}

.roomname {
  display: inline-block;
  font-size: 35px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 5px;
}

.colimg{
  width: 400px;
  height: 600px;
  text-align: center;
}

.mcol1, .mcol2, .mcol3{
  width: 400px;
  text-align: center;
  
}

/*------------세부섹션파트----------*/  
.colsection {
  width: 400px;
  height: 180px;
  /* margin-bottom: 30px; */
  /* border: #cccccc solid 1px */
  border-bottom: #cccccc solid 1px;
  border-left: #cccccc solid 1px;
  border-right: #cccccc solid 1px;
}

.colsec_img{
  width: 200px;
  height: 180px;
  float: left;
}

.colsec_name {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}

.colsec_price{
  font-size: 20px;
  color: red;
  text-align: center;
}

  .main_col {
    width: 1240px;
    column-count: 3; 
    margin: auto;
    }

    /* .roomname {
      display: inline-block;
      font-size: 35px;
      font-weight: bold;
      font-style: italic;
      margin-bottom: 5px;
    } */
    

    .colimg{
      width: 400px;
      height: 600px;
      text-align: center;
      margin-bottom: 10px;
      box-sizing: border-box;
    }

    .mcol1, .mcol2, .mcol3{
      width: 400px;
      text-align: center;
      
    }

  /*------------세부섹션파트----------*/  

  .colsection a,
  .hover_total a {
    color: inherit;
    /* display: flex; */
    display: block;
    width: 100%;
}

.colsection {
  width: 400px;
  height: 150px;
  margin-bottom: 10px;
  border: #cccccc solid 1px;
  display: flex;
  position: relative;
  
  /* border-bottom: #cccccc solid 1px;
  border-left: #cccccc solid 1px;
  border-right: #cccccc solid 1px; */
}





.colsec_img {
  width: 130px;
  height: 120px;
  padding: 0 10px;
  display: flex;
  position: absolute;
  align-content: center;
  bottom: 0;
}

.img_top {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  padding: 5px;
  background-color: #000;
  color: white;
  font-weight: bold;
  width:130px;
  font-size: 13px;
}


.colsec_name {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 5px;
}


.colsec_price{
  font-size: 17px;
  font-weight: bold;
  right: 0;
  position: absolute;

}

/*------new--------*/
.colsec_info {
  position: absolute;
  left: 200px;
  margin-top: 10px; 
  vertical-align: middle;
}


.colsec_price sup {
  color: red;
  font-weight: bold;
  padding: 5px;
  
}

.colsec_mini {
  /* font-style: italic; */
  font-size: 12px;
  line-height: 20px;
}

/* .colsec_mini_n1 {
  position: absolute;
  background-color: #000;
  color: white;
  font-size: 13px;
  top:0;
  left: 0;
} */

/*---------하트부분-------*/
input {
  appearance: none;
}

input:checked~label {
  color: red;
}

.fa-regular.fa-heart::before {
  font-size: 20px;
}



.main_col label {
position:absolute ;
bottom: 10px;
right: 10px;
} 





table.colsection tr td {
  width: 200px;
}

/* ====================================================== */
/* footer */
#mfooter {
  width: 1240px;
  text-align: center;
  overflow: hidden;
  border-top: 1px solid #333;
  margin: 0 auto;
  color: #8f8f8f;
}

.footer_left {
  background: #fff;
  float: left;
}

.numb {
  text-align: left;
  font-size: 32px;
  margin-top: 45px;
  color: #333;
}

.csqa {
  text-align: left;
  font-size: 12px;
  margin-top: 25px;
  line-height: 19px;
}

.ojoa2,
.ojoa3 {
  text-align: left;
  font-size: 11px;
  margin-top: 30px;
  line-height: 19px;
}

.ft_menu {
  text-align: left;
  font-size: 12px;
  margin-top: 25px;
}

.ft_menu ul {
  padding: 0;
}

.ft_menu ul a {
  color: #333;
}

.ft_menu li {
  display: inline-block;
  margin: 0 14px 0 0px;
}

.ft_comm > ul > li,
.ft_quick > ul > li {
  width: 140px;
  position: relative;
}

.ft_comm ul li:nth-child(n+2) a,
.ft_quick ul li:nth-child(n+2) a {
  color: #8f8f8f;
}

.footer_right {
  background: #fff;
  width: 440px;
  height: 450px;
  float: right;
  text-align: left;
  padding: 45px 10px 0px 0px;
}

.footer_right div ul li b {
  color: #333
}

.footer_right div {
  vertical-align: top;
  display: inline-block;
}

.footer_right ul li:first-child {
  font-style: bold;
  font-size: 12px;
  margin-bottom: 18px;
}

.footer_right ul > li~li {
  font-size: 11px;
  margin-bottom: 13px;
}


/*호버시도*/


.hover_wrap {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
  /* height:100vh; */
}

.hover_wrap > div {
  max-width: 400px;
  position: relative;
  perspective: 1000px;
}
.hover_wrap > div img {
  width: 100%;
  /* border: 10px solid #F0F8FF; */
  /* box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2); */
  box-sizing: border-box;
  vertical-align: top;
}
.hover_wrap > div .front {
  transition: transform 1s;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.hover_wrap > div .back {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.hover_wrap > div figcaption {
  background: rgba(0,0,0,0.4);
  color: #F8F8FF;
  padding: 5px;
  text-align: center;
  line-height: 1.5;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%) translateZ(100px);
  width: 60%;
  backface-visibility: hidden;
}

.hover_wrap > .back_text {
  background: white;
  color: black;
  padding: 5px;
  text-align: center;
  line-height: 1.5;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%) translateZ(100px);
  width: 60%;
  backface-visibility: hidden;
}




/* mouse hover effect */

.hover_leftright .front {
  transform: rotateY(0deg);
}
.hover_leftright:hover .front {
  transform: rotateY(180deg);
}
.hover_leftright .back {
  transform: rotateY(-180deg);
}
.hover_leftright:hover .back {
  transform: rotateY(0deg);
}

.hover_total{
    width: 100%;
    display: flex;
    justify-content: space-between;
}