* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  min-width: 1240px;
  margin: auto;
  padding: auto;
}

header {
  background-color: white;
  min-height: 80px;
  width: 1240px;
  margin: auto;
}

main {
  background-color: white;
  min-height: 450px;
  width: 1240px;
  margin: auto;
}

footer {
  background-color: white;
  min-height: 450px;
  width: 1240px;
  margin: auto;
}

/*======================================================*/
/* header */
#mheader {
  position: relative;
  height: 100px;
  margin: 0;
  padding-top: 30px;
}

.navBar {
  width: 1240px;
  height: 80px;
  margin: auto;
  padding-bottom: 20px;
}

.logo {
  float: left;
}

.navBar ul {
  float: right;
  margin-top: 0;
}

.navBar li {
  float: left;
  margin-left: 10px;
}

.navBar a {
  color: #333;
  font-size: 15px;
  font-weight: bold;
}

.navBar a span {
  color: gainsboro;
}

.search {
  width: 27px;
  vertical-align: top;
  float: right;
  top: 75px;
  right: 0;
  position: absolute;
}

/*======================================================*/
/* category_navi_drop_bar */
#category_nav {
  font:bold 16px;
  width: 1240px;
  height: 40px;
  background: #000;
  line-height: 40px;
  margin: 0 auto;
  z-index: 1;
}

#category_nav > ul {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

#category_nav > ul > li {
  width: 130px;
  position: relative;
  display: inline-block;
}

#category_nav > ul > li > ul {
  width: 130px;
  display: none;
  position: absolute;
  font-size: 15px;
  background: #000;
  margin: 0 auto;
  padding: 0;
}

#category_nav a {
  text-decoration: none;
  color:#fff;
  font-weight: bold;
}

#category_nav > ul > li:hover > ul {
  display: block;
}

#category_nav > ul > li > ul > li:hover {
  background: #8f8f8f;
  transition: ease 1s;
}

.sticky {
  position: sticky;
  top: 0;
}

/* ====================================================== */
/* bodyFloating */
.right_quick1 {
  position: fixed;
  right: 20px;
  top: 50%;
  margin-top: -55px;
  z-index: 5;
}

.right_quick1 .btn_top {
  margin: 3px 0px;
}

[class^='btn'] img {
  margin: -2px 1px 0;
  vertical-align: middle;
}

.right_quick1 img {
  border: 1px solid #e5e5e5;
  /* cursor: pointer; */
  /* -webkit-transition: .3s ease-in-out; */
  /* transition: .3s ease-in-out; */
}

.right_quick1 img:hover {
  border: 1px solid #333;
}

.right_quick2 img {
  width: 50px;
}

.btn_recent1 {
  position: fixed; 
  right: 20px; 
  bottom: 100px;
  
}

.btn_recent2 {
  position: fixed; 
  right: 20px; 
  bottom: 40px;
}

/* ====================================================== */
/* navi_bar */
.path {
  color: #333;
  font-size: 12px;
  margin: 20px auto;
  margin-right: 10px;
  height: 30px;
  line-height: 30px;
}

.path span {
  position: absolute;
  width: 0;
  height: 0;
  white-space: nowrap;
  text-indent: 100%;
  display: none;
}

.path li {
  float: left;
  padding-left: 12px;
  margin: 0;
  color: #333;
}

.path ol {
  float: right;
}

/* ====================================================== */
/* myPage_main */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 80px;
  overflow: hidden;
}

.main_pro_title {
  padding: 100px 0px;
  text-align: center;
  color: #333;
}

.main_pro_title .txt_01 {
  font-size: 26px;
  line-height: 1;
  letter-spacing: 3px;
  font-weight: 1000;
}

.main_pro_title .txt_02 {
  font-size: 14px;
  letter-spacing: -0.2px;
  font-weight: 300;
  padding-top: 7px;
}

.base-box {
  padding: 20px 20px 20px 0px;
  border: 1px solid #dedede;
  border-top: 1px solid black;
  color: #333;
}

.thumbnail {
  display: table-cell;
  padding: 0 15px;
  width: 70px;
  text-align: center;
  vertical-align: middle;
}

.description {
  display: table-cell;
  padding: 0 10px;
  border-left: 1px solid #e8e8e8;
  vertical-align: middle;
}

.myshop_asyncbankbook {
  overflow: hidden;
  padding: 15px 0px 15px 0px;
  margin: 20px auto 0 auto;
  border: 1px solid #dedede;
  border-top: 1px solid black;
}

.myshop_asyncbankbook div span {
  color: darkgray;
}

.myshop_asyncbankbook div {
  float: left;
  width: 370px;
  padding: 10px 0 0 30px;
}

.myshop_asyncbankbook ul {
  float: right;
  width: 470px;
}

.myshop_asyncbankbook ul li {
  float: left;
  margin: 5px 0;
  padding: 0 45px;
  width: 100%;
  height: 20px;
  font-size: 12px;
  box-sizing: border-box;
}

.myshop_asyncbankbook .title {
  float: left;
  width: 40%;
  font-weight: normal;
}

.myshop_asyncbankbook .data {
  float: left;
  width: 47%;
  padding: 0 10px;
  text-align: right;
  box-sizing: border-box;
}

.btnNormal {
  display: inline-block;
  padding: 2px 8px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  font-size: 12px;
  line-height: 18px;
  color: #333;
  background-color: #fff;
}

.btnNormal:hover {
  background-color: #f3f3f3;
}

.myshop_orderstate {
  margin: 20px auto 0;
  border: 1px solid #dedede;
  border-top: 1px solid black;
  width: 100%;
}

.myshop_orderstate .title {
  padding: 11px 21px;
  margin: 0;
  border-bottom: 1px solid #e9e9e9;
  background-color: #f6f6f6;
}

.myshop_orderstate .title h3 {
  font-size: 14px;
  color: #333;
}

.myshop_orderstate .desc {
  padding: 0 0 0 5px;
  font-weight: normal;
  font-size: 11px;
  color: #333;
}

.myshop_orderstate .desc em {
  color: #333;
  font-style: normal;
}

.myshop_orderstate .state {
  overflow: hidden;
  padding: 19px 0;
  color: #333;
}

.myshop_orderstate .order {
  float: left;
  width: 80%;
}

.myshop_orderstate .order ul {
  width: 100%;
  display: flex;
}

.myshop_orderstate .order li {
  float: left;
  width: 24%;
  border-right: 1px solid #c9c8ca;
  text-align: center;
}

.myshop_orderstate .order li strong {
  display: block;
  margin: 2px 0 7px;
  font-size: 14px;
  color: #333;
}

.myshop_orderstate .order .count {
  font-weight: bold;
  font-size: 24px;
  color: #333;
}

.myshop_orderstate .cs {
  float: left;
  width: 20%;
}

.myshop_orderstate .cs li {
  color: #333;
  margin: 0 0 5px 57px;
  letter-spacing: 0.04em;
  word-spacing: 4px;
  line-height: 15px;
}

.myshop_orderstate .cs .icoDot {
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: 10px 0 0 0;
  background: #4d4d4d;
  vertical-align: top;
}

.myshop_orderstate .cs strong {
  font-weight: normal;
  font-size: 12px;
  color: #333;
}

.myshopMain {
  margin: 25px 0;
}

.myshopMain ul {
  margin: 0 -1%;
}

.myshopMain .shopMain {
  float: left;
  width: 18%;
  height: 265px;
  margin: 0 1% 20px 1%;
  padding: 40px 15px;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  text-align: center;
}

.myshopMain .shopMain h3 {
  position: relative;
  font-size: 12px;
  color: #333;
  font-weight: normal;
}

.myshopMain .shopMain h3 strong {
  font-size: 18px;
}

.myshopMain .shopMain h3 span {
  display: block;
  padding: 6px 0 0;
}

.myshopMain .shopMain p a {
  font-size: 11px;
  line-height: 11px;
  color: #333;
}

.myshopMain .shopMain:hover {
  border: 1px solid #999;
}

/* ====================================================== */
/* footer */
#mfooter {
  width: 1240px;
  text-align: center;
  overflow: hidden;
  border-top: 1px solid #333;
  margin: 0 auto;
  color: #8f8f8f;
}

.footer_left {
  background: #fff;
  float: left;
}

.numb {
  text-align: left;
  font-size: 32px;
  margin-top: 45px;
  color: #333;
}

.csqa {
  text-align: left;
  font-size: 12px;
  margin-top: 25px;
  line-height: 19px;
}

.ojoa2,
.ojoa3 {
  text-align: left;
  font-size: 11px;
  margin-top: 30px;
  line-height: 19px;
}

.ft_menu {
  text-align: left;
  font-size: 12px;
  margin-top: 25px;
}

.ft_menu ul {
  padding: 0;
}

.ft_menu ul a {
  color: #333;
}

.ft_menu li {
  display: inline-block;
  margin: 0 14px 0 0px;
}

.ft_comm > ul > li,
.ft_quick > ul > li {
  width: 140px;
  position: relative;
}

.ft_comm ul li:nth-child(n+2) a,
.ft_quick ul li:nth-child(n+2) a {
  color: #8f8f8f;
}

.footer_right {
  background: #fff;
  width: 440px;
  height: 450px;
  float: right;
  text-align: left;
  padding: 45px 10px 0px 0px;
}

.footer_right div ul li b {
  color: #333
}

.footer_right div {
  vertical-align: top;
  display: inline-block;
}

.footer_right ul li:first-child {
  font-style: bold;
  font-size: 12px;
  margin-bottom: 18px;
}

.footer_right ul > li~li {
  font-size: 11px;
  margin-bottom: 13px;
}

.ft_sns {
  margin-left: 30px;
}