/* =============================================================== */
/* 상품목록리스트페이지 */
.product_compare_page {
    width: 1240px;
    margin: 50px auto 50px;
    border-bottom: 1px solid #e9e9e9;
    padding: 0;
    display: block;
}

.product_compare_page .product_function {
    border: 0;
    margin: 0 auto 10px;
    overflow: hidden;
    text-align: right;
    line-height: 38px;
}

.product_compare_page .product_function .product_count {
    color: #777;
    line-height: 40px;
    font-size: 12px;
    padding: 0;
    float: left;
}

.product_compare_page .product_compare {
    margin: 0 4px 0 0;
}

.product_compare li {
    display: inline;
    padding: 0 6px 0 10px;
    background: url(../images/bg_result_type.gif) no-repeat 0 50%;
}

.product_compare li:first-child {
    background: none;
}

.product_compare li a {
    color: #777;
    font-size: 12px;
    line-height: 40px;
}

/* =============================================================== */
/* QnA 페이지 */
.qna_wrap {
    position: relative;
    /* width: 100%; */
    margin: 0 auto;
    min-height: 550px;
}

.qna_container {
    /* width: 1240px; */
    zoom: 1;
    position: relative;
    margin: 0 auto;
}

.qna_content {
    width: 1240px;
    margin: 0 auto;
    float: right;
}

.qna_title {
    padding: 80px 0px;
    text-align: center;
    color: #333;
}

.qna_title .txt_01 {
    font-size: 26px;
    line-height: 1;
    letter-spacing: 3px;
    font-weight: 1000;
}

.qna_title .txt_02 {
    font-size: 14px;
    letter-spacing: -0.2px;
    font-weight: 300;
    padding-top: 7px;
}

.seclet {
    height: 24px;
    border: 1px solid #e5e5e5;
}

/* ================== */
/* grid 해보는중 */
.qna_board {
    width: 100%;
    min-height: 450px;
    /* color: rgb(8, 11, 243); */
    display: grid;

    grid-template: 1fr / 1fr repeat(2, 2fr) 5fr repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.qna_board_sort {
    padding: 0 0 10px;
}

.qna_board_name {
    background-color: #e9e9e9;
    border: 1px solid #fff;
    text-align: center;

}

.board_st {
    font-weight: bold;
}


.qna_board_list1,
.qna_board_list3,
.qna_board_list5,
.qna_board_list6 {
    text-align: center;
}

.qna_board_list4 a,
.qna_borad_list4 span {
    color: #000;
}

.qna_board_list2>div>img {
    width: 46px;
    vertical-align: middle;
    align-content: left;
}

.qna_board_list2>div>span {
    width: 80px;
    padding: 0 0 0 8px;
    text-align: left;
}

.qna_board>div>div {
    border: 1px solid #f3f3f3;
    height: 50px;
    /* color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    font-size: 12px;
}

.qna_board_list4>div>img {
    margin: 5px;
    width: 18px;
    height: 15px;
}

/* 글쓰기버튼 */
.qna_board_write {
    border-top: 0 none;
    padding: 30px;
    background: #fff;
    color: #dfdfdf;
}

.qna_board_write span {
    float: right;
    text-align: right;
    display: inline-block;
    box-sizing: border-box;
    padding: 2px 15px;
    /* border: 1px solid transparent; */
    border-radius: 2px;
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
    text-decoration: none;
    vertical-align: middle;
    background-color: #4a5164;
}

.qna_board_write span a {
    color: white;
}

.qna_number_btn {
    margin: 30px 0 50px;
    text-align: center;
    font-size: 0;
    line-height: 0;
}

.qna_number_btn ol {
    display: inline-block;
    /* font-size: 0; */
    vertical-align: top;
}

.qna_number_btn li {
    display: inline-block;
    margin: 0 0 0 -1px;
    border: 1px solid #d5d5d7;
    font-size: 12px;
}

.qna_number_btn li a {
    display: block;
    width: 35px;
    padding: 9px 0;
    font-weight: bold;
    color: #939393;
    line-height: 14px;
    background: #fff;
}

/* 검색하기 */
.qna_board_find fieldset {
    display: block;
    padding: 20px 0 20px 10px;
    color: #2e2e2e;
    font-size: 12px;
    display: flex;
}

.qna_board_find legend {
    position: absolute;
    text-indent: -9999em;
}

.qna_content select,
.qna_board_find select {
    height: 24px;
    border: 1px solid #d5d5d5;
    width: 100px;
}

.qna_board_find p {
    margin: 0 0 10px;
    padding: 0 0 0 7px;
    color: #2e2e2e;
    font-size: 12px;
}

#search_date {
    margin: 0 2px 0 22px;
}

input[type=text] {
    height: 18px;
    width: 200px;
    line-height: 20px;
    padding: 2px 4px;
    border: 1px solid #d5d5d5;
    color: #353535;
    font-size: 12px;
}

.qna_board_find_btn {
    width: 72px;
    display: inline-block;
    padding: 2px 8px;
    border: 1px solid transparent;
    line-height: 18px;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    background-color: #84868b;
}






/* =============================================================== */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    min-width: 1240px;
    margin: auto;
    padding: auto;
}

header {
    background-color: white;
    min-height: 80px;
    width: 1240px;
    margin: auto;
}

main {
    background-color: white;
    min-height: 450px;
    width: 1240px;
    margin: auto;
}

footer {
    background-color: white;
    min-height: 450px;
    width: 1240px;
    margin: auto;
}

/*======================================================*/
/* header */
#mheader {
    position: relative;
    height: 100px;
    margin: 0;
    padding-top: 30px;
}

.navBar {
    width: 1240px;
    height: 80px;
    margin: auto;
    padding-bottom: 20px;
}

.logo {
    float: left;
}

.navBar ul {
    float: right;
    margin-top: 0;
}

.navBar li {
    float: left;
    margin-left: 10px;
}

.navBar a {
    color: #333;
    font-size: 15px;
    font-weight: bold;
}

.navBar a span {
    color: gainsboro;
}

.search {
    width: 27px;
    vertical-align: top;
    float: right;
    top: 75px;
    right: 0;
    position: absolute;
}

/*======================================================*/
/* category_navi_drop_bar */
#category_nav {
    font: bold 16px;
    width: 1240px;
    height: 40px;
    background: #000;
    line-height: 40px;
    margin: 0 auto;
    z-index: 1;
}

#category_nav>ul {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

#category_nav>ul>li {
    width: 130px;
    position: relative;
    display: inline-block;
}

#category_nav>ul>li>ul {
    width: 130px;
    display: none;
    position: absolute;
    font-size: 15px;
    background: #000;
    margin: 0 auto;
    padding: 0;
}

#category_nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#category_nav>ul>li:hover>ul {
    display: block;
}

#category_nav>ul>li>ul>li:hover {
    background: #8f8f8f;
    transition: ease 1s;
}

.sticky {
    position: sticky;
    top: 0;
}

/* ====================================================== */
/* bodyFloating */
.right_quick1 {
    position: fixed;
    right: 20px;
    top: 50%;
    margin-top: -55px;
    z-index: 5;
}

.right_quick1 .btn_top {
    margin: 3px 0px;
}

[class^='btn'] img {
    margin: -2px 1px 0;
    vertical-align: middle;
}

.right_quick1 img {
    border: 1px solid #e5e5e5;
    cursor: pointer;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.right_quick1 img:hover {
    border: 1px solid #333;
}

.right_quick2 img {
    width: 50px;
}

.btn_recent1 {
    position: fixed;
    right: 20px;
    bottom: 100px;

}

.btn_recent2 {
    position: fixed;
    right: 20px;
    bottom: 40px;
}

/* ====================================================== */
/* navi_bar */
.path {
    width: 1240px;
    padding: 0;
    display: flex;
    color: #333;
    font-size: 12px;
    margin: 20px auto;
    height: 30px;
    line-height: 30px;
    justify-content: end;
}

.path span {
    position: absolute;
    width: 0;
    height: 0;
    white-space: nowrap;
    text-indent: 100%;
    display: none;
}

.path li {
    float: left;
    padding-left: 12px;
    color: #333;
}

/* ====================================================== */
/* myPage_main */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 160px;
    overflow: hidden;
}

/* ====================================================== */
/* footer */
#mfooter {
    width: 1240px;
    text-align: center;
    overflow: hidden;
    border-top: 1px solid #333;
    margin: 0 auto;
    color: #8f8f8f;
}

.footer_left {
    background: #fff;
    float: left;
}

.numb {
    text-align: left;
    font-size: 32px;
    margin-top: 45px;
    color: #333;
}

.csqa {
    text-align: left;
    font-size: 12px;
    margin-top: 25px;
    line-height: 19px;
}

.ojoa2,
.ojoa3 {
    text-align: left;
    font-size: 11px;
    margin-top: 30px;
    line-height: 19px;
}

.ft_menu {
    text-align: left;
    font-size: 12px;
    margin-top: 25px;
}

.ft_menu ul {
    padding: 0;
}

.ft_menu ul a {
    color: #333;
}

.ft_menu li {
    display: inline-block;
    margin: 0 14px 0 0px;
}

.ft_comm>ul>li,
.ft_quick>ul>li {
    width: 140px;
    position: relative;
}

.ft_comm ul li:nth-child(n+2) a,
.ft_quick ul li:nth-child(n+2) a {
    color: #8f8f8f;
}

.footer_right {
    background: #fff;
    width: 440px;
    height: 450px;
    float: right;
    text-align: left;
    padding: 45px 10px 0px 0px;
}

.footer_right div ul li b {
    color: #333
}

.footer_right div {
    vertical-align: top;
    display: inline-block;
}

.footer_right ul li:first-child {
    font-style: bold;
    font-size: 12px;
    margin-bottom: 18px;
}

.footer_right ul>li~li {
    font-size: 11px;
    margin-bottom: 13px;
}

.ft_sns {
    margin-left: 30px;
}