/* ==============================로그인페이지 css 시작 =================================== */

main {
    height: 900px;
    margin: 0 auto;
}

.login_content {   
    overflow: hidden;
    font-size: 12px;
    color: #666;
    width: 800px;
    position: absolute;
    text-align: center;
    background: bisque;
    top: 15%;
    right: px;
    padding: 40px 20px;
 
}


.login_content h3 {
    font-size: 50px;
    margin-left: -2px;
    color: #222;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.login_content .login_sub_txt {
    line-height: 50px;
    margin: 0;
    padding: 0;
    /* text-align: left; */
}

/* 구글링해서 나온것 시작 */

.login_field_id,
.login_field_password,
.login_field_btn {
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.94);
}


.login_field_password {
    margin-top: 16px;
}

.security {
    text-align: left;
    margin: 10px 0;
}

.login_find_area {
    text-align: right;
    margin: 10px 0;
    font-size: 12px;
    color: #333;
}

.login_find_area:hover ul li:first-child {
    text-decoration: underline;
}

/* 아이디, 비밀번호에 마우스 적용시 각각 표현되게 하는 방법을 모르겠음!!!!  */

.login_field input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #999;
    font-size: 10px;
    font-family: sans-serif;
}

input[type="submit"] {
    background: #666;
    border: 1px #332828;
    border-radius: 20%/500%;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #332828;
}

.login_other {
    color: #333;
    margin: 20px 0;
}

.login_link ul li {
    display: flex;
    float: left;
    margin: 21px 35px 5px;
}

.login_naver,
.login_facebook,
.login_kakao {
    width: 100%;
    height: 50px;
}


/* ----- 아이디 비밀번호 찾기 ----- */

/* show는 필요없으면 삭제예정 */

.login-pass-key:valid~.show {
    display: block;
}


.login_find_area a {
    color: white;
    font-family: sans-serif;
    text-decoration: none;
}

.login_find_area:hover a {
    text-decoration: underline;
}


/* ======================== 회원가입 ======================= */
login_join

/* .login-join {
    background-color: slateblue;
    overflow: hidden;
    border-top: 1px solid #dedede;
    width: 675px;
    margin: 0px auto;
    padding: 30px 0;
} */
/* .login_join_title {
} */
/* text-align: left; */

/* .login_join_area {
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    display: inline-block;
    text-align: left;
} */

/* .login_join .login_join_area {
    float: left;
    line-height: 16px;
    margin-top: 15px;
} */

/* .login_join .login_join_area .login_join_title {
    margin-bottom: 5px;
    color: #333;
    font-size: 15px;
    font-weight: 600;
} */



/* .login_join_btn {
    float: right;
    display: block;
    width: 90px;
    height: 83px;
    text-align: center;
    background-color:tomato;
    color:darkblue;
    font-size: 15px;
    line-height: 83px;
    font-weight: 400;
    text-decoration: none;
} */

/* .login_nonmember_btn {
    overflow: hidden;
    border-top: 1px solid #dedede;
    width: 675px;
    margin: 0 auto;
    padding: 30px 0;
} */

/* .login_nonmember_area .login_join {
    float: left;
    line-height: 16px;
    margin-top: 5px;
} */

/* .login_nonmember_area .login_join .login_join_title {
    margin-bottom: 5px;
    color: #d9d9d9;
    font-size: 15px;
    font-weight: 600;
} */

/* ============================로그인 페이지 css 끝=================================== */
* {
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    min-width: 1240px;
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

main,
footer {
    background: #f2f4f7;
    min-height: 450px;
    width: 1240px;
    margin: 0 auto;
}

footer {
    background: #f2f4f7;
    min-height: 450px;
    width: 1240px;
    margin: 0 auto;
}

.navBar {
    width: 1240px;
    height: 80px;
    margin: 0 auto;
    margin-top: 30px;
}

.logo {
    float: left;
    margin: 0;
}

.logo img {
    vertical-align: middle;
}

.navBar ul {
    float: right;
}

.navBar li {
    list-style-type: none;
    float: left;
    margin-left: 30px;
}

.navBar a {
    text-decoration: none;
    color: #333;
    font-size: 15px;
    font-weight: bold;
}

/*================== 카테고리 네비 버튼 > 스타일 및 동작 ==================*/

#category_nav {
    font: bold 16px "malgun gothic";
    width: 1240px;
    height: 40px;
    background: #ccc;
    color: black;
    line-height: 40px;
    margin: 0 auto;
    opacity: .8;
    z-index: 1;
}

#category_nav>ul {
    text-align: center;
}

#category_nav>ul>li {
    width: 130px;
    position: relative;
    display: inline-block;
}

#category_nav>ul>li>ul {
    width: 130px;
    display: none;
    position: absolute;
    font-size: 15px;
    background: #ccc;
}

#category_nav>ul>li:hover>ul {
    display: block;
}

#category_nav>ul>li>ul>li:hover {
    background: white;
    transition: ease 1s;
}

.sticky {
    position: sticky;
    top: 0;
}

/* ================== 바디 플로팅 시작 ================== */

.floating {
    position: fixed;
    right: 50%;
    top: 180px;
    margin-right: -720px;
    text-align: center;
    width: 120px;
}

.floating {
    background-color: #f9f9f9;
    border: 2px solid gray;
    position: fixed;
    right: 50%;
    top: 280px;
    /*--- 위치 좌표---*/
    margin-right: -713px;
    text-align: center;
    width: 90px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
}

.floating div:nth-child(1) {
    border: 2px solid gray;
    border-radius: 8px;
}

.floating div:nth-child(2) {
    border: 2px solid gray;
    border-radius: 8px;
}

.floating div:nth-child(3) {
    border: 2px solid gray;
    border-radius: 8px;
}

/* ================== 현재 위치 네비 ================== */

.path {
    font-size: 12px;
    clear: both;
    margin: 20px auto;
    width: 1240px;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
}

.path span {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    white-space: nowrap;
    text-indent: 100%;
}

.path li:first-child {
    background: none;
}

li {
    list-style: none;
    display: list-item;
}

.path li {
    float: left;
    padding: 0 0 0 12px;
    margin: 0 0 0 8px;
    color: #757575;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
img {
    margin: 0;
    padding: 0;
}

.path ol {
    float: right;
}

.path li a {
    font-size: 12px;
    color: #999;
}

/* ================== footer / 회사정보 ================== */

#mfooter {
    width: 1240px;
    text-align: center;
    overflow: hidden;
    border: 0px solid blue;
    margin: 0 auto;
    bottom: 0;
}

.footer_left {
    background: #fff;
    width: 640px;
    height: 450px;
    float: left;
    border: 0px solid #cccccc;
    text-align: center;
}

.numb {
    text-align: left;
    font-style: bold;
    font-size: 32px;
    margin-top: 45px;
}

.cs {
    text-align: left;
    font-size: 12px;
    margin-top: 25px;
}

.ojoa2 {
    text-align: left;
    font-size: 11px;
    margin-top: 30px;
}

.ojoa3 {
    text-align: left;
    font-size: 11px;
    margin-top: 30px;
}

.ft_menu {
    text-align: left;
    font-size: 12px;
    margin-top: 40px;
}

.ft_menu ul {
    text-align: left;
    font-size: 12px;
    margin-top: 40px;
}

.ft_menu li {
    display: inline-block;
    font-size: 12px;
    margin-top: 40px;
    margin: 0 14px 0 0px;
}

.ft_comm {
    margin-top: 45px;
}

.ft_comm>ul>li {
    width: 140px;
    position: relative;
}

/* .ft_quick {
    
  } */

.footer_right {
    width: 600px;
    height: 450px;
    float: right;
    text-align: left;
}

.footer_right ul {
    display: inline-block;
}

/* .footer_right ul li:first-child {
    font-style: bold;
    font-size: 12px;
    margin-bottom: 18px;
  } */

.footer_right ul>li~li {
    font-size: 11px;
    margin-bottom: 13px;
}

.ft_sns {
    float: right;

}

.footer img {
    margin-top: 40px;
    height: 20px;
    margin-bottom: 80px;
    margin-left: 10px;
    margin-right: 10px;
}